# IDE
.idea/
.vs/
.vscode/

# VSCode
.vscode/

CMakeSettings.json

# Build
cmake-build-*/
build/
out/
build*/

.ccls-cache

# macos
*/.DS_Store
*/*/.DS_Store
.DS_Store

# Xcode
ChiraEngine.xcodeproj/*/xcuserdata
ChiraEngine.xcodeproj/xcuserdata

# KDevelop
*.kdev4
.kdev4/
