[submodule "engine/thirdparty/discord"]
	path = engine/thirdparty/discord
	url = https://github.com/craftablescience/discord-rpc-clean
[submodule "engine/thirdparty/fmt"]
	path = engine/thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "engine/thirdparty/glm"]
	path = engine/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "engine/thirdparty/imgui"]
	path = engine/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/thirdparty/json"]
	path = engine/thirdparty/json
	url = https://github.com/nlohmann/json
[submodule "engine/thirdparty/libloader"]
	path = engine/thirdparty/libloader
	url = https://github.com/craftablescience/LibLoader
[submodule "engine/thirdparty/stduuid"]
	path = engine/thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "engine/thirdparty/imgui-filebrowser"]
	path = engine/thirdparty/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "engine/thirdparty/sdl2"]
	path = engine/thirdparty/sdl2
	url = https://github.com/libsdl-org/SDL
[submodule "engine/thirdparty/libfiledialogs"]
	path = engine/thirdparty/libfiledialogs
	url = https://github.com/time-killer-games/libfiledialogs
