[submodule "engine/thirdparty/discord"]
	path = engine/thirdparty/discord
	url = https://github.com/craftablescience/discord-rpc-clean
[submodule "engine/thirdparty/fmt"]
	path = engine/thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "engine/thirdparty/glm"]
	path = engine/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "engine/thirdparty/imgui"]
	path = engine/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/thirdparty/json"]
	path = engine/thirdparty/json
	url = https://github.com/nlohmann/json
[submodule "engine/thirdparty/libloader"]
	path = engine/thirdparty/libloader
	url = https://github.com/craftablescience/LibLoader
[submodule "engine/thirdparty/stduuid"]
	path = engine/thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "engine/thirdparty/imgui-filebrowser"]
	path = engine/thirdparty/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "engine/thirdparty/sdl2"]
	path = engine/thirdparty/sdl2
	url = https://github.com/libsdl-org/SDL
[submodule "engine/thirdparty/magic_enum"]
	path = engine/thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "engine/thirdparty/entt"]
	path = engine/thirdparty/entt
	url = https://github.com/skypjack/entt
[submodule "engine/thirdparty/soloud"]
	path = engine/thirdparty/soloud
	url = https://github.com/craftablescience/soloud
[submodule "docs/layout/doxygen-awesome-css"]
	path = docs/layout/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "engine/thirdparty/imguizmo"]
	path = engine/thirdparty/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "engine/thirdparty/imgui-colortextedit"]
	path = engine/thirdparty/imgui-colortextedit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "engine/thirdparty/cereal"]
	path = engine/thirdparty/cereal
	url = https://github.com/craftablescience/cereal
[submodule "engine/thirdparty/lua"]
	path = engine/thirdparty/lua
	url = https://github.com/craftablescience/lua
[submodule "engine/thirdparty/sol2"]
	path = engine/thirdparty/sol2
	url = https://github.com/ThePhD/sol2
[submodule "engine/thirdparty/physfs"]
	path = engine/thirdparty/physfs
	url = https://github.com/craftablescience/physfs
