# IDE
.idea/
.vs/
.vscode/

CMakeSettings.json

# Build
cmake-build-*/
build*/
out*/

.ccls-cache

# macOS
*/.DS_Store
.DS_Store

# Qt Creator
*.config
*.creator
*.creator.*
*.files
*.includes
*.cflags
*.cxxflags
CMakeLists.txt.user
